<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste anuncio</title>
    <script type='text/javascript' src='//pl26000958.effectiveratecpm.com/43/93/a6/4393a630c0e24a0ed41e425d2a142308.js'></script>
</head>
<body>
    <h1>Teste anuncio</h1>
    <script type="text/javascript">
	atOptions = {
		'key' : '3ced47d5b02e9c288943909f602cbc0f',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/3ced47d5b02e9c288943909f602cbc0f/invoke.js"></script>
</script>
</body>
</html>
